**/.env.json
**/.env
**/.vscode
.pass
misc/
*.retry
vault_key.txt
clouds.yaml
.terraform/
.terraform.lock.hcl
vault_key.txt
.ansible_facts_cache.json
**/.vagrant**
vagrant_hyperv/vagrant-ssh-config
*tfstate*
**/vagrant-shared/
*.box
.ansible