[Unit]
Description=Nuclei scanning service - {{ type }}
OnFailure=nuclei-disable-scan-timer@{{ type }}.service

[Service]
Type=exec

WorkingDirectory=/opt/nuclei-orchestrator/

ExecStartPre=send-notification "Nuclei" "Start - {{ type }}"
ExecStart=docker compose -f nuclei_orchestrator.compose.yml --env-file vulnman.env up
ExecStopPost=send-notification "Nuclei" "Stop - {{ type }}"
