[Unit]
Description=Nuclei scanning service - {{ type }}
OnFailure=nuclei-disable-scan-timer@{{ type }}.service

[Service]
Type=exec

Environment="CONFIG_FILE={{ type }}-config.toml"
Environment="SCAN_TYPE={{ type }}"

ExecStart=nuclei_orchestrator_start

