#!/bin/bash

set -euo pipefail

send-notification "Domain Discovery" "Starting a new scan"

onexit() {
    if [ $? -ne 0 ]; then
        send-notification "**Domain Discovery**" "**Failed** 🚩"
        exit 1
    fi

}

load_stats() {
    stats_file="/opt/domain_discovery/stats.json"
    # check if the file exists
    if [ ! -f $stats_file ]; then
        echo "Could not find stats.json"
        return
    fi

    old_domain_count=$(jq -r '.old_domains' $stats_file)
    new_domain_count=$(jq -r '.new_domains' $stats_file)

    echo "old domains: $old_domain_count, new domains: $new_domain_count"

}

trap onexit EXIT

cd /opt/domain_discovery
sudo docker compose -f domain_discovery.compose.yml --env-file vulnman.env pull
sudo docker compose -f domain_discovery.compose.yml --env-file  vulnman.env up 

send-notification "**Domain Discovery**" "**Success** ✨ | $(load_stats)"
