[Unit]
Description=Timer for domain discovery

[Timer]
OnCalendar=daily
Persistent=true
Unit=domain_discovery.service

[Install]
WantedBy=default.target


User={{ domain_discovery_nonroot_user }}
Group={{ domain_discovery_nonroot_user }}